#si{
    margin:10% 0% 0% 10%;
}
#siform{
    width: 50%;
    border: 1px solid green;
    height: 250px;
    float:left;
    
}
#sires{
    margin-left: 5%;
    width: 50%;
    border: 1px solid green;
    height: 250px;
    float:left;
    
}